{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}

{% block content %}

<!-- Three columns of text below the carousel -->
  <h3> Nos meilleurs ventes </h3>
  <p> Découvrez les articles les plus vendus. </p>
    <div class="row">
        {% for product in products %}
              <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
              </div>
        {% endfor %} 
      
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Des produits frais et de qualités.<br> <span class="text-body-secondary">Un goût naturellement bon.</span></h2>
        <p class="lead"> N'oubliez pas les fruits...</p>
      </div>
      <div class="col-md-5">
        <img src="{{ asset('assets/img/header.jpeg') }}" class="img-fluid" alt ="Des produits de qualités"> 
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">La vie te souris! <br><span class="text-body-secondary">Souris à la vie!</span></h2>
        <p class="lead">La santé n'a pas de prix, il faut la préserver</p>
      </div>
      <div class="col-md-5 order-md-1">
      <img src="{{ asset('assets/img/librairie emotions.jpg') }}" class="img-fluid" alt ="Des produits de qualités"> 
       </div>
    </div>

    
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 ">
        <h2 class="featurette-heading fw-normal lh-1">  <br><span class="text-body-secondary">Je dis Oui...</span></h2>
        <p class="lead">Vive les fruits!</p>
      </div>
      <div class="col-md-5 ">
      <img src="{{ asset('assets/img/Juice.jpg') }}" class="img-fluid" alt ="Des produits de qualités"> 
       </div>
    </div>



    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Tout est energie... <br><span class="text-body-secondary"></span></h2>
        <p class="lead">On peut emaner de belles emotions ! </p>
      </div>
      <div class="col-md-5 order-md-1">
      <img src="{{ asset('assets/img/la vibration.jpg') }}" class="img-fluid" alt ="Des produits de qualités"> 
       </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 ">
        <h2 class="featurette-heading fw-normal lh-1">  <br><span class="text-body-secondary">La gratitude ...</span></h2>
        <p class="lead"> Se detendre, lacher prise !</p>
      </div>
      <div class="col-md-5 ">
      <img src="{{ asset('assets/img/cool.jpg') }}" class="img-fluid" alt ="Des produits de qualités"> 
       </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Focus sur le positif ... <br><span class="text-body-secondary"></span></h2>
        <p class="lead"> Être meilleur qu'hier! </p>
      </div>
      <div class="col-md-5 order-md-1">
      <img src="{{ asset('assets/img/sante.jpg') }}" class="img-fluid" alt ="Des produits de qualités"> 
       </div>
    </div>


     <!-- /END THE FEATURETTES -->

{% endblock %} 